[submodule "Hopper"]
	path = Hopper
	url = https://github.com/nthatte/Hopper.git
[submodule "Water-Runner-Simulation"]
	path = Water-Runner-Simulation
	url = https://github.com/nthatte/Water-Runner-Simulation.git
[submodule "Water-Runner-Simulation-V2"]
	path = Water-Runner-Simulation-V2
	url = https://github.com/nthatte/Water-Runner-Simulation-V2.git
